
*.class
*.prefs
.settings/org.eclipse.jdt.core.prefs
target/classes/META-INF/maven/com.xup/interview-guide/pom.properties
src/main/java/com/xup/interviewguide/ch1/QueueWithCatAndDog.java
*.properties
